/* Home page  style page */
/* Home_page.css */

.homepage {
  font-family: 'Arial', sans-serif;
  color: #fff;
  
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6); /* Dark transparent overlay */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-content {
  position: relative;
  text-align: center;
  padding: 20px;
 
  
}

.movie-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.movie-overview {
  font-size: 1.5rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
